<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDHbWceafLyolKPn1TsvpbA-BZ_Jk-IR9Q",
        authDomain: "blind-3db9a.firebaseapp.com",
        databaseURL: "https://blind-3db9a.firebaseio.com",
        projectId: "blind-3db9a",
        storageBucket: "blind-3db9a.appspot.com",
        messagingSenderId: "946176760193"
      };
      firebase.initializeApp(config);
    </script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- ngAudio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-audio/1.7.4/angular.audio.min.js"></script> 

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/service.js"></script>

  </head>
  <body ng-app="noteit">

    <ion-pane>
      <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>

      <!-- HOME -->
      <script type="text/ng-template" id="home.html">
        <ion-view view-title="Home">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
                <h3 class="text-center">BLIND AUDIOBOOK</h3>

                  <a class="button button-block button-positive" ui-sref="listen" href="#/listen">LISTENER</a>
                  <a class="button button-block button-positive" ui-sref="login" href="#/login">DONOR</a>
                  <a class="button button-block button-light" ui-sref="admin" href="#/admin">ADMINISTRATOR</a>
        
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- login -->
      <script type="text/ng-template" id="login.html">
        <ion-view view-title="Login">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
               <div class="list" ng-controller="LoginCtrl">
                <div class="app-logo"><center><img src="img/ionic.png"></center>></div> 
                
                <div class="list list-inset removePM">
                  <label class="item item-input"><input type="text" ng-model="user.username" placeholder="Email Address" > </label>
                  <label class="item item-input"><input type="password" ng-model="user.password" placeholder="Password" > </label>
                </div>

                <div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ui-sref="donor" href="#/donor"> Login </button>  </div>
                <div class="loginButton"><button class="button ion-person button-block button-balanced" ui-sref="signup" href="#/signup"> Register </button></div>
               </div> 
              </div>
            </div>

            <div class="row  padding removePM">
              <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
              <div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- signup -->
      <script type="text/ng-template" id="signup.html">
        <ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
          <ion-content class="padding">

          <div class="row responsive-sm padding remvoeBP">
            <div class="col">
             <div class="list" ng-controller="SignupCtrl"> 
               <div class="app-logo"><img src="img/ionic.png"></div>
              
              <div class="list list-inset removePM">
                <label class="item item-input"><input type="text" placeholder="Full Name"> </label>
                <label class="item item-input"><input type="text" placeholder="Email Address"> </label>
                <label class="item item-input"><input type="text" placeholder="Phone Number"> </label>
                <label class="item item-input"><input type="password" placeholder="Password"> </label>
              </div>

              <div class="loginButton"><button class="button ion-person button-block button-balanced" ui-sref="login" href="#/login"> Register </button></div>
             </div> 
            </div>
          </div>

          <div class="row  padding removePM">
            <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
            <div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>
          </div>

          </ion-content>
        </ion-view>
      </script>  

      <!-- listen menu -->
      <script type="text/ng-template" id="listen.html">
        <ion-view view-title="List of Audiobook">
          <ion-content class="note-content">
            <div class="list" ng-controller="ListenCtrl">
              <div class="row">
                <div class="col">
                  <ion-list>
                    <div class="bar bar-header item-input-inset">
                      <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" placeholder="Search">
                      </label>
                      <button class="button button-calm">
                          Cancel
                      </button>
                    </div>
                    <ion-item ng-repeat="book in all_data" 
                                    class="item-stable"
                                    ng-click="toggleGroup(group)">
                                    &nbsp;
                                    <br/>

                                   {{book.title}}<br/>
                                   {{book.publisher}}<br/>
                                   {{book.author}}<br/>
                        <button class='ion-button clear item-end' ui-sref="listlisten({id: book.$id})" href="#/listlisten/">View</button>
                    </ion-item>
                  </ion-list>
                </div>
              </div>      
          </ion-content>
        </ion-view>  
      </script>

      <!--list Listen-->
      <script type="text/ng-template" id="listlisten.html">
        <ion-view view-title="List of Chapter">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">

               <div class="list" ng-controller="ListListenCtrl">
                  <!-- <ul class="list">
                    
                    <ion-item ng-repeat="(key,chapter) in ntahmende">
                                    
                      <li class="item" ui-sref="player" href="#/player">Chapter {{chapter}}</li>
                    </ion-item>  
                  </ul> -->
                  <ul class="list">
                      <li class="item" ui-sref="player" href="#/player">Chapter 1</li>
                      <li class="item" ui-sref="player1" href="#/player1">Chapter 2</li>
                      <li class="item" ui-sref="player2" href="#/player2">Chapter 3</li>
                  </ul>
              </div>

              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- RECORD -->
      <script type="text/ng-template" id="player.html">
        <ion-view view-title="Play">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
               <div class="list" ng-controller="PlayerCtrl">
                <a style="text-align:center;">             
                  <h2 style="color:blue;">09:45</h2>
                  <img src="img/audio-image-1.jpg">
                  <!-- <button class="button button-full button-large" class="button button-icon record_btn">
                    <i class="ion-android-microphone"></i>
                  </button>
                  <h6 style="color:black;">Tap To Resume Recording</h6> -->
                </a>
                <!-- <audio controls>
                    <source ng-src="songs/Drum.mp3" type="audio/mp3"/>
                    <source ng-src="songs/Drum.ogg" type="audio/ogg"/>
                </audio> -->
                
                  <div style="text-align:center;" class='item-input-wrapper'>
                      <label style="color:black;">Current Time</label>
                     <input  style="text-align:center;" type=text ng-model='audio.currentTime'/>
                     <!-- <label>Volume</label>
                     <ion-icon name="volume-up"></ion-icon> -->
                     <input type=range min=0 max=1 step=0.01 ng-model='audio.volume'/>
                  </div>
                  <br>  
                  <div>
                     <button class="button button-block button-calm" ng-click='audio.paused ? audio.play() : audio.pause()'>Play / Pause</button>
                     <button class="button button-block button-calm" ng-click='audio.restart()'>Stop</button>
                     <button class="button button-block button-calm" ng-click='audio.muting = !audio.muting'>Mute</button>
                </div>

                  <!-- <div class="row two_btn">
                      <div class="col">
                        <a  href="#"  class="button button-block main_btn">
                          Delete
                        </a>
                      </div>
                      <div class="col">
                        <a href="#" class="button button-block">
                          Upload
                        </a>
                      </div>
                  </div>  -->
                </div>        
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script> 

      <!-- Player 1 -->
      <script type="text/ng-template" id="player1.html">
        <ion-view view-title="Play">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
               <div class="list" ng-controller="Player1Ctrl">
                <a style="text-align:center;">             
                  <h2 style="color:blue;">09:45</h2>
                  <img src="img/audio-image-1.jpg">
                </a>
                <div style="text-align:center;" class='item-input-wrapper'>
                      <label style="color:black;">Current Time</label>
                     <input  style="text-align:center;" type=text ng-model='audio.currentTime'>
                     <input type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
                </div> 
                <div>
                     <button class="button button-block button-calm" ng-click='audio.paused ? audio.play() : audio.pause()'>Play / Pause</button>
                     <button class="button button-block button-calm" ng-click='audio.restart()'>Stop</button>
                     <button class="button button-block button-calm" ng-click='audio.muting = !audio.muting'>Mute</button>
                </div>
               </div>        
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- Player 2 -->
      <script type="text/ng-template" id="player2.html">
        <ion-view view-title="Play">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
               <div class="list" ng-controller="Player2Ctrl">
                <a style="text-align:center;">             
                  <h2 style="color:blue;">09:45</h2>
                  <img src="img/audio-image-1.jpg">
                </a>
                <div style="text-align:center;" class='item-input-wrapper'>
                      <label style="color:black;">Current Time</label>
                     <input  style="text-align:center;" type=text ng-model='audio.currentTime'>
                     <input type=range min=0 max=1 step=0.01 ng-model='audio.volume'>
                </div> 
                <div>
                     <button class="button button-block button-calm" ng-click='audio.paused ? audio.play() : audio.pause()'>Play / Pause</button>
                     <button class="button button-block button-calm" ng-click='audio.restart()'>Stop</button>
                     <button class="button button-block button-calm" ng-click='audio.muting = !audio.muting'>Mute</button>
                </div>
               </div>        
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- DONOR -->
      <script type="text/ng-template" id="donor.html">
        <ion-view view-title="List of Audiobook">
          <ion-content class="note-content">
           <div class="list" ng-controller="DonorCtrl">
            <div class="row">
              <div class="col">
                <!-- <ion-header>
                  <ion-navbar>
                    <ion-title>List of Audiobook</ion-title>
                  </ion-navbar>
                </ion-header> -->
                <ion-list>
                 <!--  <ion-list-header>
                    List of Audiobook
                  </ion-list-header> -->
                  <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper">
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="search" placeholder="Search">
                    </label>
                    <button class="button button-calm">
                      Cancel
                    </button>
                  </div>
                  <div style="text-align:right;">
                    <button class="button icon-right ion-ios-plus" ui-sref="add" href="#/add" align="right">Add</button>
                  </div>
                  
                  
                    <ion-item ng-repeat="book in all_data" 
                              class="item-stable"
                              ng-click="toggleGroup(group)">
                      <!-- <ion-thumbnail item-right >
                        <img src="img/pocket.jpg" height="42" width="42">
                      </ion-thumbnail> -->
                              &nbsp;
                              <br/>
                             {{book.title}}<br/>
                             {{book.publisher}}<br/>
                             {{book.author}}<br/>
                      <button class='ion-button clear item-end' ui-sref="listdonor" href="#/listdonor">View</button>
                    </ion-item>
                    <!-- <ion-item>
                    <ion-thumbnail item-start>
                      <img src="img/book.jpg">
                    </ion-thumbnail>
                    <h2>My Neighbor Totoro</h2>
                    <p>Hayao Miyazaki</p>
                    <p>International</p>
                    <button class='ion-button clear item-end' ui-sref="list" href="#/list">View</button>
                    </ion-item> -->
                    
                </ion-list>        
              </div>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!--list Donor-->
      <script type="text/ng-template" id="listdonor.html">
        <ion-view view-title="List of Chapter">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">

               <div class="list" ng-controller="ListDonorCtrl">
                  <ul class="list">
                      <li class="item" ui-sref="record" href="#/record">Chapter 4</li>
                  </ul>
              </div>
                <!-- <ion-item ng-repeat="book in data" 
                              class="item-stable"
                              ng-click="toggleGroup(group)">
                              &nbsp;
                              <br/>
                             {{book.title}}<br/>
                             {{book.publisher}}<br/>
                             {{book.author}}<br/>
                      <button class='ion-button clear item-end' ui-sref="list" href="#/list">View</button>
                </ion-item> -->
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- RECORD -->
      <script type="text/ng-template" id="record.html">
        <ion-view view-title="Record">
          <ion-content class="note-content">
            
               <div class="list" ng-controller="RecordCtrl">
               <div class="row">
              <div class="col">
                <a style="text-align:center;">             
                  <h2 style="color:blue;">09:45</h2>
                  <img src="img/audio-image-1.jpg">
                  <button class="button button-full button-large" class="button button-icon record_btn">
                    <i class="ion-android-microphone"></i>
                  </button>
                  <h6 style="color:black;">Tap To Resume Recording</h6>
                </a>

                  <div class="row two_btn">
                      <div class="col">
                        <a  href="#"  class="button button-block main_btn">
                          Delete
                        </a>
                      </div>
                      <div class="col">
                        <a href="#" class="button button-block">
                          Upload
                        </a>
                      </div>
                  </div> 
                </div>        
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script> 

      <!-- adminnmenu -->
      <script type="text/ng-template" id="admin.html">
        <ion-view view-title="Admin">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
                <ion-list ng-controller = "AdminCtrl">
                  <!-- <div ng-repeat="book in all_data"> -->
                    <ion-item ng-repeat="book in all_data" 
                              class="item-stable"
                              ng-click="toggleGroup(group)">
                              &nbsp;
                             {{book.title}}<br/>
                             {{book.publisher}}<br/>
                             {{book.author}}<br/>

                    </ion-item>
                    <ion-item class="item-accordion"
                              ng-repeat="item in book.subchapter"
                              
                              ui-sref="player({id: title.$id})" 
                              href="#/player">
                      {{title}}
                    </ion-item>
                  </div>
                </ion-list>
              </div>
            </div> 
          </ion-content>
        </ion-view>  
      </script>

      <!-- verifying -->
      <script type="text/ng-template" id="verify.html">
        <ion-view view-title="Verify">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
               <div class="list" ng-controller="VerifyCtrl">
                <a style="text-align:center;">             
                  <h2 style="color:blue;">09:45</h2>
                  <img src="img/audio-image-1.jpg">
                  <!-- <button class="button button-full button-large" class="button button-icon record_btn">
                    <i class="ion-android-microphone"></i>
                  </button>
                  <h6 style="color:black;">Tap To Resume Recording</h6> -->
                </a>
s               <div class="col">
                  <a href="#" class="button button-block">
                    Play
                  </a>      
                </div>
                  <div class="row two_btn">
                      <div class="col">
                        <a  ui-sref="admin" href="#/admin"  class="button button-block main_btn">
                          Delete
                        </a>
                      </div>
                      <div class="col">
                        <a href="#" class="button button-block">
                          Upload
                        </a>
                      </div>
                  </div> 
                </div>        
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script> 

      <!-- ADD -->
      <script type="text/ng-template" id="add.html">
        <ion-view view-title="Add Book">
          <ion-content class="note-content">
            <div class="row">
              <div class="col" >
                <div class="list" ng-controller="AddCtrl">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input type="text" ng-model="title.title">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Chapter</span>
                    <input type="text" ng-model="title.chapter">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Publisher</span>
                    <input type="text" ng-model="title.publisher">
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Author</span>
                    <input type="text" ng-model="title.author">
                  </label>
                  <div class="submitButton">
                    <button class="button button-block button-balanced" 
                            ng-model="addNoteButton" 
                            ng-click="saveTitle()"> Submit </button>
                  </div>
                </div>
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

    </ion-pane>
    
  </body>
</html>
