<!-- login -->
      <script type="text/ng-template" id="login.html">
        <ion-view view-title="Login">
          <ion-content class="note-content">
            <div class="row">
              <div class="col">
               <div class="list" ng-controller="LoginCtrl">
                <div class="app-logo"><center><img src="img/ionic.png"></center>></div> 
                
                <div class="list list-inset removePM">
                  <label class="item item-input"><input type="text" ng-model="user.username" placeholder="Email Address" > </label>
                  <label class="item item-input"><input type="password" ng-model="user.password" placeholder="Password" > </label>
                </div>

                <div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ui-sref="donor" href="#/donor"> Login </button>  </div>
                <div class="loginButton"><button class="button ion-person button-block button-balanced" ui-sref="signup" href="#/signup"> Register </button></div>
               </div> 
              </div>
            </div>

            <div class="row  padding removePM">
              <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
              <div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- signup -->
      <script type="text/ng-template" id="signup.html">
        <ion-view view-title="Sign Up" class="loginBg" hide-nav-bar="true" >
          <ion-content class="padding">

          <div class="row responsive-sm padding remvoeBP">
            <div class="col">
             <div class="list" ng-controller="SignupCtrl"> 
               <div class="app-logo"><img src="img/ionic.png"></div>
              
              <div class="list list-inset removePM">
                <label class="item item-input"><input type="text" placeholder="Full Name"> </label>
                <label class="item item-input"><input type="text" placeholder="Email Address"> </label>
                <label class="item item-input"><input type="text" placeholder="Phone Number"> </label>
                <label class="item item-input"><input type="password" placeholder="Password"> </label>
              </div>

              <div class="loginButton"><button class="button ion-person button-block button-balanced" ui-sref="login" href="#/login"> Register </button></div>
             </div> 
            </div>
          </div>

          <div class="row  padding removePM">
            <div class="col"> <a class=" button-positive button button-block" ng-click="facebookSignIn()"><i class="icon ion-social-facebook"></i></a> </div>
            <div class="col"> <a class="button-calm button button-block" ng-click="twitterSignIn()"><i class="icon ion-social-twitter"></i></a> </div>
          </div>

          </ion-content>
        </ion-view>
      </script>  