body, h1, h2, h3, h4, h5, h6, p{
	color:'black';
}

h3{
	margin-bottom:20px;
}

p{
	margin-bottom:30px;
}

body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

.note-content {
  background-image: url('../img/bg.jpg');
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

